# requirements.txt
streamlit
xlrd

# PDF, DOCX, PPTX, HTML, CSV, XLSX support
pdfplumber
PyMuPDF
python-docx
python-pptx
beautifulsoup4
lxml
openpyxl
pandas

# Email, eBooks, ODF
extract-msg
ebooklib
odfpy

# OCR
pytesseract
Pillow

# PII Detection
presidio-analyzer
presidio-anonymizer
spacy

# python -m spacy download en_core_web_lg

# Utility
regex
tqdm
psutil

